<%= form_for @user, url: registrations_path, html: { class: "registration-form" } do |f| %>
  <h1>Register</h1>

  <% if f.object.errors.any? %>
    <ul class="errors">
      <% f.object.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Confirm" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.submit "Register" %>
  </div>
<% end %>
